<template>
  <!-- start-Here -->
  <div class="main-frame">

    <!-- pageloader -->
    <div class="loading_bg">
      <div class="loading is-family-secondary">
        <div class="text">Connecting</div>
        <label class="percent">0%</label>
        <div class="progress-bar">
          <div class="progress"></div>
        </div>
      </div>
    </div>

    <!-- Animated-Background -->
    <div>
      <ul class="animated-background">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >

    <!-- Main-Sidebar -->
    <div id="main-sidebar" class="is-hidden-touch">
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="block">
        <img src="~assets/img/logo.png" alt="Welcome to my Portofolio Brother!" />
      </div>
      <div class="menu-inner">
        <b-menu class="is-custom-mobile">
          <b-menu-list>
            <b-menu-item class="is-family-secondary" tag="router-link" :to="{ path: '/' }" icon="home" label="Home"></b-menu-item>
            <b-menu-item class="is-family-secondary" tag="router-link" :to="{ path: '/about' }" icon="account" label="About"></b-menu-item>
            <b-menu-item class="is-family-secondary" tag="router-link" :to="{ path: '/project' }" icon="source-branch" label="Project"></b-menu-item>
            <b-menu-item class="is-family-secondary" tag="router-link" :to="{ path: '/blog' }" icon="blogger" label="Blog"></b-menu-item>
            <b-menu-item class="is-family-secondary" icon="contacts" label="Contact"></b-menu-item>
          </b-menu-list>
        </b-menu>
      </div>
      <svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
      </svg>
    </div>

    <!-- Mobile sidebar -->

    <!-- Content section: will be in the middle -->
    <section class="section">
      <!-- Nuxt render Start here -->
      <nuxt />
      <!-- Nuxt render Stop here -->

    </section>

  </div>
</template>

<script>
export default {
  data() {
    return {
    };
  }
};
</script>
