<template>
  <div class="home-page">
    <h2 class="has-text-link">Latest Posts</h2>
    <div class="container">
      <div class="columns features">
        <div class="column is-4">
          <div class="articles columns featured-post">
            <div class="article column is-12 post" v-for="article of articles" :key="article">
              <nuxt-link :to="{ name: 'blog-slug', params: { slug: article.slug } }">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img :src="require(`~/assets/blog-imgs/${article.img}`)" alt="Placeholder image" />
                    </figure>
                  </div>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h4>{{ article.title }}</h4>
                    <p>{{ article.description }}</p>
                    <span class="button is-link modal-button">Read More</span>
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const articles = await $content("blog", params.slug)
      .only(["title", "description", "img", "slug"])
      .sortBy("createdAt", "asc")
      .fetch();
    return {
      articles,
    };
  },
  layout: "main-frame",
};
</script>

<style>
</style>
