<template>
  <div class="container -is-widescreen has-text-centered">
    <div class="columns">
      <div class="column">
        <h2 class="title has-text-dark is-family-secondary has-text-centered">About Me</h2>
        <section class="section">
          <div class="container">
            <div class="columns">
              <div class="column is-8-tablet">
                <p class="has-text-justified content is-medium">
                  My name is <b class="has-text-danger">Anas Ramadhan</b>. I'm a 24 year old Web Developer from Jakarta. My first website project was my personal website using Django-Framework and it was called anas-ramadhan.com but I didn't continue with the first project because there were several other projects. I had to work on it for college purposes such as making a Linux distribution. and this website is a continuation of my first project but only uses NuxtJS & GitLab for hosting.
                </p>
              </div>
              <div class="col-md-4 has-text-centered drag-lg-top">
                <div class="shadow-down mb-20">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="author" class="image full-width rounded-lg border-thick is-border-white" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <br />
        <b-steps v-model="activeStep" :animated="isAnimated" :rounded="isRounded" :has-navigation="hasNavigation" :icon-prev="prevIcon" :icon-next="nextIcon" :label-position="labelPosition" :mobile-mode="mobileMode">
          <b-step-item step="1" label="SD" :clickable="isStepsClickable">
            <h1 class="title has-text-centered">SD</h1>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
              infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
          </b-step-item>

          <b-step-item step="2" label="SMP" :clickable="isStepsClickable" :type="{ 'is-success': isProfileSuccess }">
            <h1 class="title has-text-centered">SMP</h1>
            Lorem ipsum dolor sit amet.
          </b-step-item>

          <b-step-item step="3" label="SMA" :clickable="isStepsClickable">
            <h1 class="title has-text-centered">SMA</h1>
            Lorem ipsum dolor sit amet.
          </b-step-item>

          <b-step-item :step="4" label="KULIAH" :clickable="isStepsClickable" disabled>
            <h1 class="title has-text-centered">KULIAH</h1>
            Lorem ipsum dolor sit amet.
          </b-step-item>

          <template v-if="customNavigation" #navigation="{previous, next}">
            <b-button outlined type="is-danger" icon-pack="fas" icon-left="backward" :disabled="previous.disabled" @click.prevent="previous.action">
              Previous
            </b-button>
            <b-button outlined type="is-success" icon-pack="fas" icon-right="forward" :disabled="next.disabled" @click.prevent="next.action">
              Next
            </b-button>
          </template>
        </b-steps>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeStep: 0,
      isAnimated: true,
      isStepsClickable: false,
      labelPosition: "bottom",
      mobileMode: "minimalist",
    };
  },

  layout: "main-frame",
};
</script>
