<template>
  <div class="container -is-widescreen has-text-centered">
    <h2 class="title has-text-dark is-family-secondary has-text-centered">My Project</h2>
    <br />
    <div class="columns">
      <div class="column">
        <b-table :data="dataProject" paginated per-page="5" detailed detail-key="no" aria-next-label="Next page" aria-previous-label="Previous page" aria-page-label="Page" aria-current-label="Current page">
          <b-table-column field="no" label="NO." width="40" numeric v-slot="props">
            {{ props.row.no }}
          </b-table-column>

          <b-table-column field="project" label="Project" sortable v-slot="props">
            <template v-if="showDetailIcon">
              {{ props.row.project }}
            </template>
          </b-table-column>

          <b-table-column field="link" label="Link" sortable v-slot="props">
            <template v-if="showDetailIcon">
              {{ props.row.link }}
            </template>
          </b-table-column>

          <b-table-column field="status" label="Status" width="100" sortable v-slot="props">
            <template v-if="showDetailIcon">
              {{ props.row.status }}
            </template>
          </b-table-column>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    const dataProject = [
      { no: 1, project: "VIMRC/NEOVIMRC", status: "Maintained" },
      { no: 2, project: "VIMRC/NEOVIMRC", status: "Maintained" },
      { no: 3, project: "VIMRC/NEOVIMRC", status: "Maintained" },
      { no: 4, project: "VIMRC/NEOVIMRC", status: "Maintained" },
    ];
    return {
      dataProject,
    };
  },
  layout: "main-frame",
};
</script>
